<section class="py-5 header">
  <div class="container py-4">

      <div class="row">
          <div class="col-md-3">
              <!-- Tabs nav -->
              <div class="nav flex-column nav-pills nav-pills-custom">
                  <a class="nav-link mb-3 p-3 shadow active pointer" [ngClass]="{'active': actualOption === 1}" (click)="optionSelected(1)">
                      <span class="font-weight-bold small text-uppercase">Transferencias a un mismo banco</span></a>

                  <a class="nav-link mb-3 p-3 shadow pointer" [ngClass]="{'active': actualOption === 2}" (click)="optionSelected(2)">
                      <span class="font-weight-bold small text-uppercase">Transferencias &nbsp;Interbancarias</span></a>

                  <a class="nav-link mb-3 p-3 shadow pointer" [ngClass]="{'active': actualOption === 3}" (click)="optionSelected(3)">
                      <span class="font-weight-bold small text-uppercase">Paypal</span></a>

                  <a class="nav-link mb-3 p-3 shadow pointer" [ngClass]="{'active': actualOption === 4}" (click)="optionSelected(4)">
                      <span class="font-weight-bold small text-uppercase">En persona</span></a>
              </div>
          </div>


          <div class="col-md-9">
              <!-- Tabs content -->
              <div class="tab-content">
                <div class="tab-pane fade shadow rounded bg-white show p-5" [ngClass]="{'active show': actualOption === undefined}">
                    <h4 class="font-italic mb-4">Selecciona una de las opciones</h4>
                    <p class="font-italic text-muted mb-2">Tenemos las siguientes formas en las que puedes dar tus diezmos, ofrendas.<br><br>
                    Cada uno debe dar seg&uacute;n crea que deba hacerlo. No tenemos que dar con tristeza ni por obligaci&oacute;n. ¡Dios ama al que da con alegr&iacute;a!
                <br><b> 2 Corintios 9:7</b></p>
                </div>
                
                  <div class="tab-pane fade shadow rounded bg-white show p-5" [ngClass]="{'active show': actualOption === 1}">
                      <h4 class="font-italic mb-4">Puedes hacer una transferencia a las siguientes cuentas</h4>
                      <p class="font-italic text-muted mb-2 text-left">
                          <li class="pt-1">1911-5735-601045 <b> Soles (Bcp)</b></li>
                          <li class="pt-1">1919-2002-090102 <b> D&oacute;lares (Bcp)</b></li>
                          <li class="pt-1">8983-1514-32362 <b> Soles (Interbank)</b></li>
                          <li class="pt-1">0011-0174-0200711995 <b>Soles (Bbva)</b></li>
                      </p>
                  </div>
                  
                  <div class="tab-pane fade shadow rounded bg-white p-5" [ngClass]="{'active show': actualOption === 2}">
                    <h4 class="font-italic mb-4">Puedes hacer una transferencia interbancaria a las siguientes cuentas</h4>
                    <p class="font-italic text-muted mb-2 text-left">
                        <li class="pt-1">002-191-115735601045-51 <b> Soles (Bcp)</b></li>
                        <li class="pt-1">002-191-192002090102-59 <b> D&oacute;lares (Bcp)</b></li>
                        <li class="pt-1">003-898-013151432362-48 <b> Soles (Interbank)</b></li>
                        <li class="pt-1">011-174-000200711995-07 <b> Soles (Bbva)</b></li>
                        <li class="pt-1">BCONPEPLXXX <b>C&oacute;digo Swift (Bbva)</b></li>
                    </p>
                  </div>
                  
                  <div class="tab-pane fade shadow rounded bg-white p-5" [ngClass]="{'active show': actualOption === 3}">
                      <h4 class="font-italic mb-4">Haz tu donativo por aquí </h4>
                        <a href="https://paypal.me/ccancla" target="_blank"class="paypal-button">Paypal</a>
                    </div>
                  
                  <div class="tab-pane fade shadow rounded bg-white p-5" [ngClass]="{'active show': actualOption === 4}">
                      <h4 class="font-italic mb-4">Confirm booking</h4>
                      <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>