.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}
.paypal-button{
    color: white;
    background-color: #0070ba;
    border-radius: 1.5rem;
    border: .0625rem solid #0070ba;
    cursor: pointer;
    display: inline-block;
    font-size: .9375rem;
    line-height: 1rem;
    margin-bottom: 1.5rem;
    min-width: 6rem;
    padding: .6875rem 1.4375rem;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color .24s ease,background-color .24s ease,border-color .24s ease,-webkit-box-shadow .24s ease;
    transition: color .24s ease,background-color .24s ease,border-color .24s ease,-webkit-box-shadow .24s ease;
    -o-transition: color .24s ease,background-color .24s ease,border-color .24s ease,box-shadow .24s ease;
    transition: color .24s ease,background-color .24s ease,border-color .24s ease,box-shadow .24s ease;
    transition: color .24s ease,background-color .24s ease,border-color .24s ease,box-shadow .24s ease,-webkit-box-shadow .24s ease;
    -webkit-font-smoothing: antialiased;
    &:hover{
        background-color: #003087;
        border-color: #003087;

    }
}

.maps-button{
    margin: 20px 20px 0 20px;
    min-width: 190px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    img {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-right: 10px;
    }
}
