$bacground-color:rgb(12, 12, 12);

.footer-layout {
    width: 100%;
    min-height: 345px;
    height: fit-content;
    background-color: $bacground-color;
    color:white;

    & .title {
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 5px;
    }

    & .content {
        font-weight: normal;
        font-size: 13px;

        & .link {
            color: white;
            text-decoration: none;

            &:hover {
                color: rgba(253, 206, 87);
            }
        }
    }

    & img {
        height: 25px;
        margin: 10px 20px 10px 3px;
    }
}