<div class="footer-layout pt-4">
  <div class="container">
    <div class="row d-flex align-items-center text-md-left text-center">
      <div class="col-sm-12 col-md-5 col-lg-4">
        <span class="title">Ubicaci&oacute;n</span>
          <p class="content pb-2">Calle Loa #36 - Anc&oacute;n 15123</p>
        <span class="title">Cont&aacute;ctanos</span>
          <p class="content pb-2">
            <a href="mailto:comunidadcristianaancla@gmail" class="link"> comunidadcristianaancla@gmail.com</a></p>
        <span class="title">M&aacute;s acerca de Ancla</span>
        <span class="content">
          <p (click)="$event" class="link pointer content pt-1">Liderazgo</p>
          <p (click)="$event" class="link pointer content">¿En que creemos?</p>
          <p (click)="$event" class="link pointer content">Nuestra cultura</p>
        </span>
     </div>

      <div class="col-sm-12 col-md-3 col-lg-3 pb-4 mb-2">
        <span class="title">Siguiente paso</span>
        <ul class="content pb-2 list-unstyled">
          <li (click)="$event" class="link pointer content pb-2 pt-1">Crecer</li>
          <li (click)="$event" class="link pointer content pb-2">Comunidades de hogar</li>
          <li (click)="$event" class="link pointer content pb-2">Estudios Avanzados</li>
        </ul>
        <span class="title">Links &uacute;tiles</span>
        <ul class="content pb-2 list-unstyled">
          <li class="link pb-2"> <a href="https://perukidz.org/" class="link" target="_blank">Perukidz</a></li>
          <li class="link pb-2"> <a href="http://regencyministries.org/" class="link" target="_blank">Regency Ministries</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7811.718852220118!2d-77.1738813493993!3d-11.77494704006888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91067ff4ce9dd779%3A0xe604511ca5b457a2!2sComunidad%20Cristiana%20Ancla!5e0!3m2!1ses!2smx!4v1606324295942!5m2!1ses!2smx"
        width="100%" height="300vh" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
    <div class="social-media-row">
      <div class="row d-flex align-items-center text-center">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <p>
           <a href="https://www.facebook.com/ccancla" target="_blank">
             <img src="assets/social-media-icons/facebook.png"></a>
           <a href="https://www.instagram.com/ccancla" target="_blank">
             <img src="assets/social-media-icons/instagram.png" href=""></a>
           <a href="https://www.youtube.com/?hl=es-419&gl=PE" target="_blank">
             <img src="assets/social-media-icons/youtube.png" href=""></a>
           <a href="https://open.spotify.com/show/45ocdRqYCoxTMYdTyT1EUm" target="_blank">
             <img src="assets/social-media-icons/spotify.png" href=""></a>
          </p>
        </div>
      </div>
    </div>

</div>
