$bacground-color:rgb(12, 12, 12);

.footer-layout {
    width: 100%;
    min-height: 345px;
    height: fit-content; 
    background-color: rgb(17, 17, 17);
    color:white;

    & .title {
        font-weight: bold;
        font-size: 17px;
        padding-bottom: 5px;
        
        &.margin{ 
            margin-top: 2rem;
        }
    }

    & .content {
        font-weight: 200;
        font-size: 16px;
        line-height: 13px;
        & .link {
            color: white;
            text-decoration: none;

            &:hover {
                color: rgba(253, 206, 87);
            }
        }
    }

    & img {
        height: 25px;
        margin: 10px 9% 10px 9%;
    }
    & .social-media-row{
        background-color: $bacground-color;
        padding-top: 9px;
        margin-top: 15px;
        padding-bottom: 9px;
        & .row {
            margin-right: unset !important;
            margin-left: unset !important;
            justify-content: space-evenly !important;
        }
        & .nopad{
            padding-right: 0px;
            padding-left: 0px;
        }
        & .box {
            justify-content: space-evenly;
        }
    }
}