$bacground-color:rgb(12, 12, 12);
@import '../../sass/paleta.scss';

.footer-layout {
    width: 100%;
    min-height: 345px;
    height: fit-content; 
    background-color: $black;
    color:white;

    & .title {
        font-weight: bold;
        font-size: 15px;
        padding-bottom: 5px;
        
        &.margin{ 
            margin-top: 2rem;
        }
    }

    & .content {
        font-weight: 200;
        font-size: 14px;
        line-height: 13px;
        & .link {
            color: white;
            text-decoration: none;

            &:hover {
                color: $primary-color;
            }
        }
    }

    & img {
        height: 25px;
        margin: 10px 9% 10px 9%;
    }
    & .social-media-row{
        background-color: $bacground-color;
        margin-top: 15px;
        & .row {
            margin-right: unset !important;
            margin-left: unset !important;
            justify-content: space-evenly !important;
        }
        & .nopad{
            padding-right: 0px;
            padding-left: 0px;
        }
        & .box {
            justify-content: space-evenly;
        }
    }
    .home-comunity {
        margin-right: -17px;
    }
}
@media (max-width: 1024px){
    .next-step {
        margin-top: 12px !important;
    }
    .home-comunity {
        margin-right: 0px !important;
    }
}