.layout{
    background-image: url(".././../../assets/backgrounds/home-summer.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    & .divisor {
        height: 240px;
        z-index: -1;
    }
    & .welcome-text{
        width: 50%;
        display: block;
        margin: auto;
        opacity: 0.9;
    }
}
.ancla-body{
    height: 400px;
}