$bacground-color:rgba(253, 206, 87, 0.912);
.main-header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 9999999;

    &.ancla-header{
        background: $bacground-color;
        box-shadow: 0 2px 5px rgba(16, 16, 16, 0.2);
        transition: background 0.5s ease;
        transition: background 0.5s ease-in-out;
    }

    & .logo{
        height: 70px;
        position: fixed;
        transition: 0.5s ease;
        cursor: pointer;
        &.going-down{
            height: 60px;
            transition: 0.5s ease;
        }
    }
    & .menu {
        font-family: 'Nunito' !important;
        color: #fff;
        text-align: center;
        li {
           text-transform: uppercase;
           display: inline; 
           line-height: 80px;
           margin: 0 0 0 50px;
           cursor: pointer;
           text-shadow: .18em .18em .18em rgb(49, 49, 49);
           position: relative;
           place-items: center;
        }
    }
    & .hamburger-icon {
        display: none;
        position: fixed;
        right: 40px;
        & .container {
            display: inline-block;
            cursor: pointer;
          }
        
          & .bar {
            width: 35px;
            height: 5px;
            background-color: #fff;
            margin: 6px 0;
            transition: 0.4s;

            &.bar1.change {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }
            &.bar2.change {
                opacity: 0;
            }
            &.bar3.change {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }
          }
    }

    @media (max-width: 1214px){
        .hamburger-icon {
            display: block;
        }
        &.ancla-header-responsive{
            background: $bacground-color;
            box-shadow: 0 2px 5px rgba(16, 16, 16, 0.2);
            transition: background 0.2s ease;
            transition: background 0.2s ease-in-out;
            height: 76vh;
        }
        .menu {
            width: 100%;
            height: 100vh;
            position: fixed;
            text-align: center;
            top: 60px;
            left: -100%;
            max-width: unset;
            overflow: auto;
            li {
                margin: -15px 0 0 0px;
                display: block;

            }
            &.show{
                left: 0px;
                transition: all 0.3s ease-in-out;
            }
        }
        
    }
}