<nav class="main-header" [ngClass]="{'ancla-header' : scroll, 'ancla-header-responsive': isHamburgerOpen }">
    <div class="row">
        <div class="col-2">
            <img src="assets/logo.png" class="logo mt-2 ml-5" [ngClass]="{'going-down': scroll}" routerLink="/">
        </div>
        <ul class="menu col-10" id="menu">
            <li (click)="notAvalibleModal()">M&aacute;s acerca de nosotros</li>
            <li (click)="notAvalibleModal()">Siguiente paso</li>
            <li (click)="notAvalibleModal()">Servicios online</li>
            <li (click)="notAvalibleModal()">Recursos</li>
            <li (click)="notAvalibleModal()">Oraci&oacute;n</li>
            <li class="pl-1" routerLink="/dar">Dar</li>
        </ul>
        <div class="hamburger-icon mt-4">
            <div class="container" id="hamburger" (click)="changeIconStatus()">
                <div class="bar bar1"[ngClass]="{'change' : isHamburgerOpen }"></div>
                <div class="bar bar2"[ngClass]="{'change' : isHamburgerOpen }"></div>
                <div class="bar bar3"[ngClass]="{'change' : isHamburgerOpen }"></div>
            </div>
        </div>
    </div>
</nav>