@import '../../sass/paleta.scss';

.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0px;
  z-index: 1049;
  display: flex;
  align-items: center;
  justify-content: space-between;
	transition: background 0.3s ease;
	transition: background 0.3s ease-in-out;
  & .logo {
    height: 70px;
    transition: height 0.4s ease-in-out;
    cursor: pointer;
  }

  &.menu--scroll {
		height: 80px;
    background: $secondary-color;
    box-shadow: 0 2px 5px rgba(16, 16, 16, 0.5);
    transition: background 0.3s ease-in-out;
		transition: height 0.5s ease-in-out;
    & .logo {
      height: 60px;
      transition: height 0.5s ease-in-out;
    }

		li {
			&:hover {
				color: $primary-color;	
			}
		}
  }

  & .header__menu {
    display: flex;
    color: white;
		height: inherit;
    align-items: center;
		margin-right: 20px;
		font-size: 14px;
		ul {
			margin-bottom: 0px;
			list-style: none;
			display: inherit;
			align-items: center;
			li {
				 cursor: pointer;
				 margin-left: 5em;
				 text-shadow: .1em .1em .2em rgb(49, 49, 49);
			}
		}
  }
  & .header__hamburger {
      display: none;
      position: fixed;
      right: 40px;

      & .header__hamburger-container {
        	display: inline-block;
        	cursor: pointer;
        }
      & .header__hamburger-bar {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;

        &.header__hamburger-bar1.change {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
        }
        &.header__hamburger-bar2.change {
          opacity: 0;
        }
        &.header__hamburger-bar3.change {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }
      }
    }
}

@media (max-width: 1024px){
  .header {
    & .header__menu {
      display: none;
      ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 340px;
        width: 100%;
        left: 0;
        top: 80px;
        background-color: $third-color;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        border-radius: 0px 0px 20px 20px;
        position: absolute;
        padding: 0px;
        li {
          margin: 14px 0px 14px;
        }
      }
      &.show {
        display: flex;
      }
    }
    & .header__hamburger {
      display: block;
    }     
  }
}