.layout{
    & .image-container {
        background-image: url("../../../assets/backgrounds/give.jpg");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;   
    
        & .overlay {
            display: block;
            background: rgba(0, 0, 0, .6);
            background-size: cover;
            height: 700px;

            & .give-text {
                color: white;
                text-align: center;
                position: relative;
                top: 50%;
                font-size: 40pt;
            }
            & .verse {
                color: white;
                text-align: center;
                position: relative;
                top: 50%;
                font-size: 14pt;
            }
        }

    }
    & .verse-container {
        background-color: rgb(0, 0, 0);
        height: fit-content;
        text-align: center;
        padding: 20px 0 20px 0;
    }
    & .ways-to-give {
        background-color: #ffffff;
        text-align: center;
        height: fit-content;
        padding: 30px 0 20px 0;
    }
}