<div class="layout">
  <div class="image-container">
    <div class="overlay">
      <div class="give-text">DAR</div>
      <div class="verse">La iglesia se construye sobre la generosidad de muchos<br> ¡Gracias por ser tan generoso!</div>
    </div>
  </div>
  <div class="verse-container text-white">Traigan todos los diezmos al dep&oacute;sito del templo, para que haya suficiente comida en mi casa.<br>
    Si lo hacen les abrir&eacute; las ventanas de los cielos. <br> 
    ¡Derramar&eacute; una bendici&oacute;n tan grande que no tendr&aacute;n suficiente espacio para guardarla! <br>¡Int&eacute;ntenlo! ¡P&oacute;nganme a prueba!<br>
    <b>(Malaqu&iacute;as 3:10)</b></div>
    <div class="ways-to-give">
      <p>¿Como puedo dar mi diezmo u ofrenda?</p>
      <app-card></app-card>
    </div>
</div>